# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
env/
venv/
ENV/
VENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm / JetBrains IDE settings
.vscode/
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db
