# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
env/
venv/
ENV/
VENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm / JetBrains IDE settings
.vscode/
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Ignore model contents but keep folder
code2vec_mod/models/java14_model/*
!code2vec_mod/models/java14_model/.gitkeep

# Ignore all .pt files inside graphs folders
graphs-train/*.pt
graphs-val/*.pt
graphs-test/*.pt
code2vec_mod/wsl-venv/
